@page "/login"
@inject ApiService api;

<h3>Login</h3>

<MudTextField @bind-Value="Email">Email</MudTextField>
<MudTextField @bind-Value="Password">Password</MudTextField>
<MudButton OnClick="OnClick">Login</MudButton>

@code {
    public string Email = "";
    public string Password = "";
    public async Task OnClick()
    {
        var loginRequest = new LoginRequest(this.Email, this.Password);

        var loginResponse = await api.Post<LoginResponse>(SharedConfig.LoginUrl, loginRequest);

        if (loginResponse.WasSuccess())
        {
            // Use loginResponse object
            Console.WriteLine(loginResponse!.JWT);
        }
    }
}
