@using Newtonsoft.Json
@using SmartHome.Common
@using SmartHome.Common.Models
@using SmartHome.Common.Models.Auth
@inject IHttpClientFactory HttpClientFactory;
@inject FrontendConfig config;

<h3>Login</h3>

<MudButton OnClick="OnClick">Login</MudButton>

@code {
    public async Task OnClick()
    {
        var http = HttpClientFactory.CreateClient(config.HttpClientName);
        //var json = JsonConvert.SerializeObject();
        //var stringContent = new StringContent(json);
        //var login = await http.PostAsJsonAsync<LoginRequest>(SharedConfig.LoginUrl, new LoginRequest("email", "password"));
        //if (login.Content.ReadAsStream().read)
        var response = await http.PostAsJsonAsync(SharedConfig.LoginUrl, new LoginRequest("email", "password"));

        if (response.IsSuccessStatusCode) // Check if the request was successful
        {
            var loginResponse = await response.Content.ReadFromJsonAsync<LoginResponse>();
            if (loginResponse != null)
            {
                // Use loginResponse object
                Console.WriteLine(loginResponse.JWT);
            }
        }
        else
        {
            // Handle error (e.g., log response status)
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }
}
